Tarea3/Connected Services/servicioBraulio/ECCI_HolaMundo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ECCI_HolaMundo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ECCI_HolaMundo" targetNamespace="urn:ECCI_HolaMundo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/" />
  <wsdl:message name="saludeRequest">
    <wsdl:part name="nombre" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="saludeResponse">
    <wsdl:part name="salude" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="servidorEstampillaDeTiempoRequest" />
  <wsdl:message name="servidorEstampillaDeTiempoResponse">
    <wsdl:part name="servidorEstampillaDeTiempo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ultimoSaludoRequest" />
  <wsdl:message name="ultimoSaludoResponse">
    <wsdl:part name="ultimoSaludo" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ECCI_HolaMundoPort">
    <wsdl:operation name="salude">
      <wsdl:input message="tns:saludeRequest" />
      <wsdl:output message="tns:saludeResponse" />
    </wsdl:operation>
    <wsdl:operation name="servidorEstampillaDeTiempo">
      <wsdl:input message="tns:servidorEstampillaDeTiempoRequest" />
      <wsdl:output message="tns:servidorEstampillaDeTiempoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ultimoSaludo">
      <wsdl:input message="tns:ultimoSaludoRequest" />
      <wsdl:output message="tns:ultimoSaludoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECCI_HolaMundoBinding" type="tns:ECCI_HolaMundoPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="salude">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#salude" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="servidorEstampillaDeTiempo">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#servidorEstampillaDeTiempo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ultimoSaludo">
      <soap:operation soapAction="urn:ECCI_HolaMundo#HolaMundo#ultimoSaludo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_HolaMundo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECCI_HolaMundo">
    <documentation />
    <wsdl:port name="ECCI_HolaMundoPort" binding="tns:ECCI_HolaMundoBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr:80/~bsolano/HolaMundoServiceRPCEncoded/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>